<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Servers</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>MemberAdd</display-name>
        <servlet-name>MemberAdd</servlet-name>
        <servlet-class>webhisServlet.MemberAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberAdd</servlet-name>
        <url-pattern>/MemberAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Charge</display-name>
        <servlet-name>Charge</servlet-name>
        <servlet-class>webhisServlet.Charge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Charge</servlet-name>
        <url-pattern>/Charge</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoadPrescription</display-name>
        <servlet-name>LoadPrescription</servlet-name>
        <servlet-class>webhisServlet.LoadPrescription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPrescription</servlet-name>
        <url-pattern>/LoadPrescription</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoadDept</display-name>
        <servlet-name>LoadDept</servlet-name>
        <servlet-class>webhisServlet.LoadDept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDept</servlet-name>
        <url-pattern>/LoadDept</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoadDoctor</display-name>
        <servlet-name>LoadDoctor</servlet-name>
        <servlet-class>webhisServlet.LoadDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDoctor</servlet-name>
        <url-pattern>/LoadDoctor</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoadPrograms</display-name>
        <servlet-name>LoadPrograms</servlet-name>
        <servlet-class>webhisServlet.LoadPrograms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPrograms</servlet-name>
        <url-pattern>/LoadPrograms</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoadPatients</display-name>
        <servlet-name>LoadPatients</servlet-name>
        <servlet-class>webhisServlet.LoadPatients</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPatients</servlet-name>
        <url-pattern>/LoadPatients</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>VerifyDoctor</display-name>
        <servlet-name>VerifyDoctor</servlet-name>
        <servlet-class>webhisServlet.VerifyDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyDoctor</servlet-name>
        <url-pattern>/VerifyDoctor</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>VerifyOperator</display-name>
        <servlet-name>VerifyOperator</servlet-name>
        <servlet-class>webhisServlet.VerifyOperator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyOperator</servlet-name>
        <url-pattern>/VerifyOperator</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DiagnosisServlet</display-name>
        <servlet-name>DiagnosisServlet</servlet-name>
        <servlet-class>webhisServlet.DiagnosisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiagnosisServlet</servlet-name>
        <url-pattern>/DiagnosisServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PrescriptionServlet</display-name>
        <servlet-name>PrescriptionServlet</servlet-name>
        <servlet-class>webhisServlet.PrescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionServlet</servlet-name>
        <url-pattern>/PrescriptionServlet</url-pattern>
    </servlet-mapping>
</web-app>